<% layout("/layouts/boilerplate") %>
 
<body>
    <div class="row mt-4">
        <div class="col offset-5"><a href="/api/news">News</a></div>
        <div class="col col-6"><a href="/api">Topics</a></div>
    </div>
    <div class="container-box">
        <div class="box news">
            <a href="/api/news">NEWS</a>
            <img src="/images/news.jpg" alt="news-image" class="hover-image">
        </div>
        <div class="box sports">
            <a href="/api/sports">SPORTS</a>
            <img src="/images/sports.jpg" alt="sports-image" class="hover-image">
        </div>
        <div class="box tech">
            <a href="/api/techs">TECH</a>
            <img src="/images/tech.jpg" alt="tech-image" class="hover-image">
        </div>
        <div class="box media">
            <a href="/api/medias">MEDIA</a>
            <img src="/images/media.jpg" alt="image-image" class="hover-image">
        </div>
        <div class="box finance">
            <a href="/api/finances">FINANCE</a>
            <img src="/images/finance.jpg" alt="finance-image" class="hover-image">
            
        </div>
        <div class="box culture">
            <a href="/api/cultures">CULTURE</a>
            <img src="/images/culture.jpg" alt="culture-image" class="hover-image">
        </div>
        <div class="box gaming">
            <a href="/api/gamings">GAMING</a>
            <img src="/images/gaming.jpg" alt="gaming-image" class="hover-image">
        </div>
        <div class="box travel">
            <a href="/api/travels">TRAVEL</a>
            <img src="/images/travel.jpg" alt="travel-image" class="hover-image">
        </div>
        <div class="box latest">
            <a href="/api/latests">LATEST</a>
            <img src="/images/latest.jpg" alt="latest-image" class="hover-image">
        </div>
    </div>
</body>