<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style3_main.css">
    <title>CHANNEL | Home Page</title>
</head>
<body>

    <h1 class="heading">CHANNEL</h1>
    <hr>
    <br>
    <h2 class="text">Human</h2>
    <h2 class="text">Stories & Idea</h2>
    <h3 class="para">A place to read,write and deepen your understanding</h3>

    <a class="button" href="/user/signup">Signup</a>
    <a class="button" href="/api">Explore</a>
    
</body>
</html>